In [1]:
!pip install sqlalchemy pyodbc pandas openpyxl mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\buba\.conda\envs\intro_python\lib\site-packages (2.0.37)
Requirement already satisfied: pyodbc in c:\users\buba\.conda\envs\intro_python\lib\site-packages (5.2.0)
Requirement already satisfied: pandas in c:\users\buba\.conda\envs\intro_python\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\buba\.conda\envs\intro_python\lib\site-packages (3.1.5)
Requirement already satisfied: mysql-connector-python in c:\users\buba\.conda\envs\intro_python\lib\site-packages (8.4.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\buba\.conda\envs\intro_python\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\buba\.conda\envs\intro_python\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\buba\.conda\envs\intro_python\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\buba\.conda\envs\intro_python\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\buba\.conda\envs\intro_python\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\buba\.conda\envs\intro_python\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\buba\.conda\envs\intro_python\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\buba\.conda\envs\intro_python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [3]:
def connect_to_database():
    host = 'localhost'
    username = 'Buba'
    password = 'Xcellerate-1'
    database = 'db_InventoryManagement' ## Crate Database in MySQL Database

    return mysql.connector.connect(
    host=host,
    user=username,
    password=password,
)

In [5]:
import mysql.connector

# Database configuration
db_config = {
    'host': 'localhost',
    'user': 'Buba',
    'password': 'Xcellerate-1',
}

# Establish a connection to the MySQL server
mysql_conn = mysql.connector.connect(
    host=db_config['host'],
    user=db_config['user'],
    password=db_config['password']
)

# Create a cursor object using the connection
cursor = mysql_conn.cursor()

# Create database if it does not exist
cursor.execute("CREATE DATABASE IF NOT EXISTS db_iris")

# Close the cursor and connection
cursor.close()
mysql_conn.close()

print("Database 'db_iris' created or already exists.")

Database 'db_iris' created or already exists.

In [7]:
df_1 = pd.read_excel("Iris_Dataset.xlsx", sheet_name="Sheet1")

df_1 = df_1[['Petal Length', 'Petal Width', 'Sepal Length', 'Sepal Width',
       'Species Type']] ## Comment this if you get all the columns you needed.
 
df_1.head()

   Petal Length  Petal Width  Sepal Length  Sepal Width Species Type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [9]:
# Connection parameters
server = 'localhost'
username = 'Buba'
password = 'Xcellerate-1'
database = 'db_iris'

mysql_conn = mysql.connector.connect(
    host=server,
    user=username,
    password=password,
    database = database
)

In [10]:
# Create a PyODBC connection
engine = create_engine('mysql+mysqlconnector://', creator=lambda: mysql_conn, echo=False)